
define service {
    host_name               localhost
    service_description     Check if MySQL is running
    check_command           check_linux_process_local!2684354560!3221225472!/var/run/mysqld/mysqld.pid
    notes                   Warning with it uses 2.5Gb of RAM.
    use                     generic-service
}
