
define service {
    host_name               localhost
    service_description     Check if MySQL is running
    check_command           check_linux_process_local!3221225472!3758096384!/var/run/mysqld/mysqld.pid
    notes                   Warning with it uses 3.0Gb of RAM.
    use                     generic-service
}
