############################################
{{ ansible_managed | comment }}
# put your own settings into this file
# settings from this file will override
# those from the thruk.conf
############################################

default_theme = {{ thruk_default_theme }}

# For more efficient reports:
report_use_temp_files = {{ thruk_report_use_temp_files }}
report_update_logcache = {{ thruk_report_update_logcache }}

# allow error reports
show_error_reports = both

max_process_memory={{ thruk_max_process_memory }}
# It requires lot of memory for reports: 
report_max_objects = {{ thruk_report_max_objects }}

# Reports should not take more than 40s to get it working if it is 0:
no_external_job_forks = {{ thruk_no_external_job_forks }}


# Include messages with class = 2 (program messages) in reports.
# Setting this to 0 allows the MySQL backend to use indexes efficiently
report_include_class2 = {{ thruk_report_include_class2 }}

# First day of week: 1 (Monday)
first_day_of_week = {{ thruk_first_day_of_week }}

logcache = mysql://{{ thruk_mysql_user }}:{{ thruk_mysql_password }}@localhost:3306/{{thruk_mysql_db}}

# color complete status line with status colour or just the status
# itself.
status_color_background = {{ thruk_status_color_background }}



<Component Thruk::Backend>
    <peer>
        name    = {{ thruk_backend_name }}
        type    = {{ thruk_backend_type }}
        hidden  = 1
        <options>
            peer          = {{ nagios_live_sock }}
        </options>
        <configtool>
          core_type = nagios
          core_conf  = /usr/local/nagios/etc/nagios.cfg
          obj_check_cmd  =  /usr/local/nagios/bin/nagios -v /usr/local/nagios/etc/nagios.cfg
          obj_reload = /etc/init.d/nagios reload
        </configtool>
    </peer>
</Component>


<Component Thruk::Plugin::Statusmap>
    # you may change the default map type of the statusmap here. Valid
    # types are: 'table' and 'circle'
    default_type    = circle

    # and the statusmap default group by which has to be one of:
    # 'parent', 'address', 'domain', 'hostgroup', 'servicegroup'
    default_groupby = parent
</Component>

{% for item in thruk_local_additional_options: %}
{{ item.comment }}
{{ item.section }}
  {% for option in item.options %}
    {{ option }}
  {% endfor %}}
{{ item.end_section }}
{% endfor %}}
